# For YAML tags and Python types 
# Refer to https://pyyaml.org/wiki/PyYAMLDocumentation#:~:text=YAML%20tags%20and%20Python%20types


DATA_DIR : '/home/soojin/UOS-SSaS Dropbox/05. Data/02. Training&Test/concrete_damage_autocon/as_cityscape'
RESUME_FROM : null
MODEL_SAVE_TO : '/home/soojin/UOS-SSaS Dropbox/05. Data/03. Checkpoints/#cgnet/2021.08.21 for test'

DATASET : 'Concrete_Damage_Cityscapes'
IMG_WIDTH : 680
IMG_HEIGHT : 680
NUM_CLASSES : 5
IGNORE_CLASS : 255

BATCH_SIZE : 16 # If distributed training enabled, BATCH_SIZE used for global batch size
EPOCHS : 325

NUM_GPU : 4 # NUM_GPU more than 1 uses distributed training

#MODEL 
NUM_M_BLOCKS : 3
NUM_N_BLOCKS : 21

# IMG_NORM_METHOD 

# Learning Rate 
INIT_LEARN_RATE : 0.001 
END_LEARN_RATE : 0.0001
POWER : 0.9
DECAY_STEPS : 60000


CLASS_WEIGHT : 
    - 2.5959933
    - 8.7415504
    - 4.5354059
    - 4.8663225
    - 4.690899
