# For YAML tags and Python types 
# Refer to https://pyyaml.org/wiki/PyYAMLDocumentation#:~:text=YAML%20tags%20and%20Python%20types


DATA_DIR : '/home/user/UOS-SSaS Dropbox/05. Data/00. Benchmarks/01. cityscapes'
RESUME_FROM : null
MODEL_SAVE_TO : '/home/user/UOS-SSaS Dropbox/05. Data/03. Checkpoints/#cgnet/2021.08.14 configuration file test'

DATASET : 'Cityscapes'
IMG_WIDTH : 680
IMG_HEIGHT : 680
NUM_CLASSES : 19
IGNORE_CLASS : 255

BATCH_SIZE : 4 # If distributed training enabled, BATCH_SIZE used for global batch size
EPOCHS : 325

NUM_GPU : 1 # NUM_GPU more than 1 uses distributed training

#MODEL 
NUM_M_BLOCKS : 3
NUM_N_BLOCKS : 21

# IMG_NORM_METHOD 

# Learning Rate 
INIT_LEARN_RATE : 0.001 
END_LEARN_RATE : 0.0001
POWER : 0.9
DECAY_STEPS : 60000


CLASS_WEIGHT : 
    - 2.5959933
    - 6.7415504
    - 3.5354059
    - 9.8663225
    - 9.690899
    - 9.369352
    - 10.289121
    - 9.953208
    - 4.3097677
    - 9.490387
    - 7.674431
    - 9.396905
    - 10.347791
    - 6.3927646
    - 10.226669
    - 10.241062
    - 10.280587
    - 10.396974
    - 10.055647